@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* OVERRIDE FONT SANS */
  --font-sans: 'Source Sans Pro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Source Sans Pro', sans-serif !important;
}


/* Slim Scrollbar khusus Sidebar */
.sidebar-scroll {
  scrollbar-width: thin;                  /* Firefox */
  scrollbar-color: #f2f2f2 transparent;   /* thumb | track */
}

/* Chrome, Safari, Edge */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;         /* ukuran slim */
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;  /* track clean */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #6b7280;      /* abu2 soft */
  border-radius: 10px;      /* rounded */
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;      /* lebih terang saat hover */
}


@keyframes flyout-smooth {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-10px) scale(0.98);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0) scale(1);
    filter: blur(0);
  }
}

.animate-flyout {
  animation: flyout-smooth 220ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

